{% extends "layout.html" %}
{% block main %}
<main>
	<section id = "user-info">
		<h2>Who you are</h2>
		<p id = "username"></p>
		<p id = "room"></p>
	</section>
	<section id = "begun">
		<h2>Game Status</h2>
		<p>not started</p>
	</section>
	<section id = "ready">
		<h2>Ready?</h2>
		<p><input type = "checkbox" id = "ready-button">Ready</p>
	</section>
	<section id = "order">
		<h2>Order</h2>
		<p id = "a"></p>
		<p id = "b"></p>
		<p id = "c"></p>
		<p id = "d"></p>
		<p id = "e"></p>
	</section>
	<section id = "previous-rounds">
		<h2>The Game so Far</h2>
		<p id = "round-a"></p>
		<p id = "round-b"></p>
		<p id = "round-c"></p>
		<p id = "round-d"></p>
		<p id = "round-e"></p>
	</section>
	<section id = "proposing">
		<h2> Proposer</h2>
		<p></p>
	</section>
	<section id = "vote-results">
		<h2> The Voting Results </h2>
		<p></p>		
	</section>
	<section id = "vote-results">
		<h2> The Mission Results </h2>
		<p></p>		
	</section>
	<section id = "proposal">
		<h2>Propose Your Mission</h2>
		<button type = "button" id = "player-a">Player 1</button>
		<button type = "button" id = "player-b">Player 2</button>
		<button type = "button" id = "player-c">Player 3</button>
		<button type = "button" id = "player-d">Player 4</button>	
		<button type = "button" id = "player-e">Player 5</button>
		<button type = "button" id = "confirm">confirm</button>
	</section>
	<section id = "vote-cards">
		<h2>Place Your Vote</h2>
		<button type = "button" id = "black-card">Yay!</button>
		<button type = "button" id = "red-card">Nay!</button>	
	</section>
	<section id = "secrets">
		<h2>Your Role (keep this a secret!)</h2>
		<p id = "role"></p>
		<p id = "spy-friend"></p>
		<p id = "spy-one"></p>
		<p id = "spy-two"></p>
	</section>
	<section id = "win">
		<h2>Has Anybody Won Yet?</h2>
		<p></p>
	</section>
</main>
{% endblock %}